#api-options {
  position: fixed;
  width: 100%
}

.items-listing-container {
  max-width: 768px;
  margin: auto;
}

.inline-flex-container {
  display: inline-flex;
  justify-content: space-around;
}

.inline-flex-item {
  flex: 1;
}

.api-selections-list {

}

.api-selections-list li {
  background: #6b8e4e;
  border-radius: 5px;
  padding: 12px;
  cursor: pointer;
  color: #d5ddde;
  margin: 4px 2px;
  transition: 0.3s;
}

.api-selections-list li:hover,
#show-more-button:hover,
.open a:hover {
  cursor: pointer;
  background: rgba(0,0,0,0.7);
  transition: 0.5s;
}

#listings-name {
  text-align: center;
  color: #1b2726;
}

.api-selections-list,
.items-listing ul {
  width: 100%;
  padding-left: 0px;
  list-style: none;
  margin: 0;
}

.api-selections-list li,
.items-listing ul li {
  text-align: center;
}

.items-listing-heading {
  padding: 60px 0px;
}

.items-listing ul {
  flex-wrap: wrap;
}

.items-listing li {
  margin: 7px;
  color: #1b2726;
}

.items-listing a {
  display: block;
}

.items-listing img {
  max-width: 200px;
  box-shadow: 2px 2px 4px #777;
}

div#items-listing > div {
    text-align: center;
}

.show-more {
  padding: 50px 0px;
  text-align: center;
}

#show-more-button,
.open a {
  border-radius: 3px;
  border: 1px solid #3c5148;
  background: #6b8e4e;
  color: #d5ddde;
  padding: 10px 15px;
  transition: 0.3s;
}

.open a {
  text-decoration: none;
  color: #d5ddde;
}
